<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Time Deficit Calculator</title>

                <link rel="stylesheet" href="static/styles.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.flash.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.html5.min.js"></script>
                <script src="//cdn.datatables.net/buttons/1.5.0/js/buttons.print.min.js"></script>

                <script src="static/export.js"></script>
        </head>
        <body>
                <form action="/" method="GET">
                        <input type="radio" name="clock_type" value="equatorial"> Equatorial Clock <br/>
                        <input type="radio" name="clock_type" value="satellite"> Satellite Clock <br/> <br/>
                        Satellite Radius: <input name="radius" type="text"> <br/> <br/>
                        <input type="submit" value="Submit"> <br/> <br/>

                        {% if clock_type %}
                                <h2>Time Deficit Results</h2>

                                <table id="results">
                                        <thead><tr>
                                                <th>Relativity Type</th>
                                                <th>Time Difference (in sec)</th>
                                        </tr></thead>
                                        <tbody><tr>
                                                <td>Special Relativity</td>
                                                <td>{{results[0]}}</td>
                                        </tr>
                                        <tr>
                                                <td>General Relativity</td> 
                                                <td>{{results[1]}}</td>
                                        </tr>
                                        <tr>
                                                <td>Special and General Relativity</td>
                                                <td>{{results[2]}}</td>
                                        </tr></tbody>
                                </table>
                        {% elif error %}
                                {{error}}
                        {% endif %}
                </form>
        </body>                
</html>
